@font-face{
  font-family: 'Cascadia';
  src: url(./CascadiaCode.woff2);
}

*{
  font-family: 'Cascadia', monospace;
  scroll-behavior: smooth;
}


.go-up{
  position: fixed;
  bottom: 5px;
  right: 5px;
}